<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
  <add key="serverCommand" value="cd Y:\Git\lights-detector\backend\ ; .\backend\venv\Scripts\Activate.ps1 ; .\main.py" />
 </appSettings>
</configuration>